<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Exercises #1</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
    <div class="nav-bar">

        <h1 class="nav-title">
                Vue Store
        </h1>

    </div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image" :alt="altText">
                <!-- Syntax is v-bind: or : for short. -->

            </div>
            <div class="product-info">
                    <h1> {{title}}</h1>
                    <p>{{description}}</p>
                    <a :href="link" target="blank">Socks Link</a>
                    <p v-if='inStock > 10'>In stock</p>
                    <p v-else-if='inStock < 10 && inStock > 0'>Almost out of stock!</p>
                    <p v-else :class="{ outOfStock: !inStock}">Out of stock!</p>
                        <!-- IF an element to frequently toggle on and off the page, you’ll want to use the v-show directive -->
                    <span class="onsale" v-if="onSale">OnSale!</span>
                    <ul>
                        <li v-for="detail in details">{{detail}}</li>
                    </ul>

                    <div v-for="(variant, index) in variants"
                         :key="variant.variantId"
                         class="color-box"
                         :style="{ backgroundColor: variant.variantColor }"
                         @mouseover="updateProductColor(index)">
                        <!-- <p @mouseover="updateProductColor(variant.variantImage)">{{ variant.variantColor}}</p> -->
                    </div>
                    <ul>
                        <li v-for="size in sockSizes">{{size}}</li>
                    </ul>
                    <!-- <button v-on:click="cart += 1">Add to cart</button> -->
                    <span>
                        <button v-on:click="addToCart" 
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock }"
                        >Add to cart</button>
                        <button v-on:click="removeToCart">Remove to cart</button>
                    </span>
                    <div class="cart">
                        <p>Cart ({{cart}})</p>
                    </div>
                </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>